/* Réinitialisation des puces et marges de la liste */
.project-list {
    list-style: none;
    padding: 0;
}

/* Centrage du contenu */
body, html {
    height: 100%;
    margin: 0;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 8%, rgba(88,88,173,1) 34%, rgba(0,212,255,1) 100%);
}

.project-list p{
    text-align: center;
    color: rgba(2,0,36,1);
    font-size: 2rem;
    font-weight: bold;
}

.content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    font-size: 1.5rem;
}

/* Style des liens */
.project-list li a {
    display: block;
    padding: 5px;
    margin: 3px;
    text-decoration: none;
    color: #fff; /* Couleur du texte des liens */
}

/* Style des liens au survol */
.project-list li a:hover {
    text-align: center;
    box-shadow: rgba(88,88,173,1);
    background-color: rgba(2,0,36,1); /* Couleur d'arrière-plan au survol */
    border-radius: 10px;
}
