.carre{
    display: flex;
    flex-wrap: wrap;
}

.box{
    background-color: rgb(136, 174, 136);
    color: rgb(255, 255, 255);
    height: 200px;
    width: 200px;
    display: flex;
    font-family: 'Times New Roman', Times, serif;
    font-size: 40px;
    justify-content: center;
    align-items: center;
    margin: 5px;
    cursor: pointer;
    transition: 0.5s;
    transform: transform 0.8s;
}

.box-valid{
    background-color: rgb(179, 54, 54);
    transform: scale(0.9);
    transform: rotate(360deg);
}


